h1= title
p #{title} is our framework
p.colorslove I LOVE COLORS
div#grpId The group id was: #{groupIdStr}
div The number of Errors in DB were: #{numErrs}
div The # of Errors in the Group were: #{errsInG}
