// check out https://github.com/visionmedia/jade for a guide

h1 
   :markdown
      | _**MONGO** has returned_: 
   #{title}

p #{expr} is our framework, our templating engine is #{jade}
   br // a line break
   | with Node and MongoDB on the backend
 
p.colorslove I LOVE COLORS and CSSSSSSS (5 additional s's = 5x the fun)

// this is a div without an 'id'
div The number of Errors in DB were: #{numErrs} 

// this is a div without an 'id'
div The number of Groups in DB were: #{totalGroupCount} 

// this produces the same "div"s as the above
#grpId 
   | One group id was: #{groupIdStr} 

div#x Try clicking the dinosaurs below

div#showAll **Click here to restore dinosaurs**

// this is also without an 'id'
div 
   | The # of Errors in the Group (sorted by time) were: #{errsInG}
 

// makes a table of errors
//proves that we can access the elements of the errors in a group :D
div.errors The errors in the group were (click year to toggle month data):
   - if(eGrp)
      ul
         - eGrp.forEach(function(year){
            - if(year)
               li 
                  .year #{year.year}
                  ul
                     - year.forEach(function(month) {
                        li.month #{getMonthString(month.month)}
                           -var errNumInMonth = 0;
                           table.errorGroup
                              tr.cols
                                 th.eNum #
                                 th.eID ID
                                 th.eTime Time
                                 th.eType Type
                                 th.eMsg Message
                              - month.forEach(function(anError) {
                                 - var rDate = new Date(anError.time *1000);
                                 tr.error
                                    td.errorNum 
                                       img#dino(src='dinosaur.png') 
                                       | #{errNumInMonth}
                                    td.errorId
                                       | #{anError._id}
                                    td.errorTime
                                       div m: #{rDate.getMonth()} d: #{rDate.getDate()} y: #{rDate.getFullYear()}
                                       div locale time: #{rDate.toLocaleTimeString()}
                                    td.errorType #{anError.type}
                                    td.errorMsg #{anError.msg}
                                 - errNumInMonth++;
                              - })
                     - })
         - })
  

